<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChitChat</title>
    <link rel = "stylesheet" href="style.css">
</head>
<body>
    <h3>
        All Chats
    </h3>
    <form method ="get" action = "/chats/new">
        <br> <button>
            New Chat
        </button> <br> <br>
        
    </form>

    <% for(chat of chats){ %>
        <div class = "chat">
            <form method="get" action="/chats/<%=chat._id%>/edit">
                <button>
                    Edit
                </button>
            </form>
            <p>
                 from :  <i><%=chat.from %></i> 
            </p>
            <div class="msg">
                <p>
                <%= chat.msg %>
                </p>
            </div>
            <p>
                Received by  <i><%=chat.to %></i> 
            </p><hr>
            <p>
                <%= chat.created_at.toString().split(" ")[4] %>
            </p>
            <p>
                <%= chat.created_at.toString().split(" ").slice(0,4).join("-") %>
            </p>
        </div>
        <br><br>
    <% } %>
</body>
</html>